<div class="container mt-4">

  <div class="row">
    <div class="col-md-8 mb-3">
      <h1>Nos logements <small>(<%= @flats.size %>)</small></h1>
    </div>
  </div>

  <div class="row">

    <div class=" col col-md-8 ">

      <div class="d-flex align-items-stretch">
        <div class="cards">
          <% @flats.each do |flat| %>
            <div class="card card-flat">

              <div class="card-img-top">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <% flat.photos.each_with_index do |photo, index| %>
                      <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <% if index == 0 %>class="active"<% end %>></li>
                    <% end %>
                  </ol>d
                  <div class="carousel-inner">
                    <% flat.photos.each_with_index do |photo, index| %>
                      <div class="carousel-item <% if index == 0 %>active<% end %>">
                        <%= cl_image_tag photo.key, class: "d-block w-100", height: 180, crop: :thumb %>
                      </div>
                    <% end %>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>

              <div class="card-body px-3">
                <div class="card-title d-flex justify-content-between">
                <div>
                  <%= link_to flat.name, flat_path(flat), class: "text-decoration-none text-bold link-dark" %>
                </div>
                <div class="text-12 d-flex align-items-center">
                <% if flat.reviews.average(:rating) != nil  %>
                  <i class="fa-solid fa-star mx-2"></i>
                  <%= number_with_precision(flat.reviews.average(:rating), precision: 2) %>
                  <% end %>
                </div>
                </div>
                <div class="d-flex align-items-start flex-column bd-highlight" style="height: 80px;">
                <div class="bd-highlight mb-0 text-12 text-gray">
                  <% if flat.description.length > 70 %>
                    <%= flat.description[0..70] %>...
                  <% else %>
                    <%= flat.description %>
                  <% end %>
                </div>
                <div class="mt-auto mb-0 bd-highlight text-12">
                  <%= flat.price_per_night %> € par nuit
                </div>
                </div>
              </div>

              <% if policy(flat).edit? && policy(flat).destroy? %>
                <div class="card-footer d-flex justify-content-between p-2 fst-italic">
                  <%= link_to "<i class='fa-solid fa-pen-to-square'></i>".html_safe,
                    edit_flat_path(flat),
                    class: "text-decoration-none link-dark"
                  %>
                  <%= link_to "<i class='fa-solid fa-trash-can' style='color: #ff2600;'></i>".html_safe,
                    flat_path(flat),
                    class: "text-decoration-none link-dark",
                    data: {turbo_method: :delete, turbo_confirm: "Confirmer la suppression ?"}
                  %>
                </div>
              <% end %>

            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-4">

      <div class="row justify-content-center border mb-4 card-airbnb">
          <h4 class="my-3"><i class="fa-solid fa-umbrella-beach text-success"></i> Échappez-vous du quotidien !</h4>
          <%= simple_form_for :flat, url: flats_path, method: :get do |form| %>
          <%= form.input :lieu,
            label: false,
            input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
            wrapper_html: {data: {controller: "address-autocomplete",
            address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}}
          %>
            <%= form.input :range, label: false, placeholder: "Rayon en kilomètres", class: "form-control mb-3" %>
            <%= form.submit "Rechercher", class: "btn btn-primary mb-3" %>
          <% end %>
      </div>
      <div class="row justify-content-center border mb-4 card-airbnb">
        <div class="p-3">
          <div style="width: 100%; height: 600px; position:sticky; top: 0;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
