<h1>All our flat (<%= @flats.size %>)</h1>
<%= link_to 'Add flat', new_flat_path %>
<div class="main-container">
  <div class="cards">
    <% @flats.each do |flat| %>
      <div class="card-flat">
        <% if !flat.photos.empty? %>
          <%= cl_image_tag flat.photos[0].key %>
        <% end %>
        <%= link_to flat.name, flat_path(flat) %>
        <%= link_to 'Edit', edit_flat_path(flat) %>
        <%= link_to "Delete",
          flat_path(flat),
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
    <% end %>
  </div>
  <div style="width: 100%; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>
