<div class="container mt-4">
  <h1><%= @flat.name %></h1>
  <p>
    <% if @flat.user == current_user %>
      <%= link_to "Mettre à jour les informations", edit_flat_path(@flat), class: "btn btn-info me-3" %>
      <%= link_to "Supprimer ce logement", flat_path(@flat), class: "btn btn-danger", data: {turbo_method: :delete, turbo_confirm: "Confirmer la suppression ?"} %>
    <% end %>
  </p>
  <div class="d-inline-flex">
    <% if @average_rating %>
      <p><i class="fa-solid fa-star"></i> <%= number_with_precision(@average_rating, precision: 2) %></p>
      <p class="mx-2">·</p>
      <p><%= @number_of_reviews %> avis</p>
    <% else %>
      <p><i class="fa-solid fa-star"></i> Ce logement n'a pas encore d'avis</p>
    <% end %>
    <p class="mx-2">·</p>
    <p><%= @flat.address %></p>
  </div>

  <div class="row mt-4">

    <div class="col-md-8">

      <% if !@flat.photos.empty? %>
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <% @flat.photos.each_with_index do |photo, index| %>
                <li data-target="#carouselExampleIndicators" data-slide-to="<%= index %>" <% if index == 0 %>class="active"<% end %>></li>
              <% end %>
            </ol>
            <div class="carousel-inner">
              <% @flat.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <% if index == 0 %>active<% end %>">
                  <%= cl_image_tag photo.key, class: "d-block w-100" %>
                </div>
              <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        <% end %>

      <div class="border-bottom mt-4">
        <h3>Logement entier : chez <%= @flat.user.firstName %></h3>
        <p><%= pluralize @flat.number_of_guests, "voyageur" %> </p>
      </div>

      <div class="border-bottom mt-4">
        <% if @average_rating && @average_rating >= 4 %>
          <div class="d-flex flex-row">
            <div>
              <p><i class="fa-solid fa-medal fa-2x"></i></p>
            </div>
            <div class="mx-2">
              <div>
                <p class="text-bold my-0"><%= @flat.user.firstName %> est Superhôte</p>
              </div>
              <div>
                <p class="text-gray text-14">Les Superhôtes sont des hôtes qui bénéficient de très bonnes évaluations.</p>
              </div>
            </div>
          </div>
        <% end %>

        <div class="d-flex flex-row align-items-center">
          <div>
            <p><i class="fa-sharp fa-solid fa-calendar fa-2x"></i></p>
          </div>

          <div class="mx-2">
            <div>
              <p class="text-bold">Annulation gratuite jusqu'à une semaine avant votre arrivée</p>
            </div>
          </div>
        </div>
      </div>

      <div class="py-4 border-bottom mb-4">
        <h4>Description</h4>
        <br>
        <p><%= @flat.description %></p>
      </div>

      <div>
        <h4>Ce que propose ce logement</h4>
        <br>
        <ul class="list-unstyled">
          <li>
            <% @flat.equipments.each do |equipment| %>
              <%= equipment.fontawesome_html.html_safe %>
              <%= equipment.name %>
              <br><br>
            <% end %>
          </li>
        </ul>
      </div>

    </div>

    <div class="col-md-4">

      <% if !@my_bookings_of_this_flat.empty? %>
        <div class="card-details mb-4">
          <%= link_to "Réservations", bookings_path, class: "text-decoration-none text-24 text-black fw-bold" %>
          <div class="mt-3">
            <% @my_bookings_of_this_flat.each do |booking| %>
              <% if booking.confirmation == "pending" %>
                <p class="fw-bold text-warning"><i class="fa-solid fa-clock"></i> Réservation en attente du <%= booking.start_date %> au <%= booking.end_date %></p>
              <% elsif booking.confirmation == "accepted" %>
                <p class="fw-bold text-success"><i class="fa-solid fa-check"></i> Réservé du <%= booking.start_date %> au <%= booking.end_date %></p>
              <% else %>
                <p class="fw-bold text-danger"><i class="fa-solid fa-xmark"></i> Réservation refusée par l'hôte !</p>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if !@other_bookings_for_my_flat.empty? %>
        <div class="card-details mb-4">
          <%= link_to "Réservations", bookings_path, class: "text-decoration-none text-24 text-black fw-bold" %>
          <div class="mt-3">
            <% @other_bookings_for_my_flat.each do |booking| %>
              <p><%= booking.start_date %> au <%= booking.end_date %> : <%= booking.user.firstName %> <%= booking.user.lastName %></p>
              <div class="mb-3" id="confirmation-for-owner">
                <% if booking.confirmation == "pending" %>
                  <%= link_to "Accepter", accept_booking_path(booking), data: {"turbo-method": :patch}, class: "btn btn-success btn-sm" %>
                  <%= link_to "Refuser", refuse_booking_path(booking), data: {"turbo-method": :patch}, class: "btn btn-danger btn-sm" %>
                  <hr>
                <% elsif booking.confirmation == "accepted" %>
                  <p class="fw-bold text-success"><i class="fa-solid fa-check"></i> Acceptée !</p>
                  <hr>
                <% else %>
                  <p class="fw-bold text-danger"><i class="fa-solid fa-xmark"></i> Refusée !</p>
                  <hr>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <% if current_user != @flat.user %>
        <div class="card-details">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-inline-flex align-items-center">
              <p class="text-bold text-24 m-0"><%= @flat.price_per_night %>€</p>
              <p class="my-0 mx-2">par nuit</p>
            </div>

            <div class="d-inline-flex align-items-center">
              <% if @average_rating %>
                <p class="m-0"><i class="fa-solid fa-star"></i> <%= number_with_precision(@average_rating, precision: 2) %></p>
                <p class="mx-2 m-0">·</p>
              <% end %>
              <p class="m-0 text-gray"><%= pluralize @number_of_reviews, "commentaire" %></p>
            </div>
          </div>
          <div class="my-3">
              <%= render "bookings/form",{flat: @flat, booking: @booking} %>
          </div>
          <p class="text-center text-gray my-0 text-14">Aucun montant ne vous sera débité pour le moment</p>
        </div>
      <% end %>
        <% if @flat.user != current_user %>
          <div class="my-3">
            <%= render "bookings/form",{flat: @flat, booking: @booking} %>
          </div>
          <p class="text-center text-gray my-0 text-14">Aucun montant ne vous sera débité pour le moment</p>
        <% end %>
      </div>

      <% if @flat.bookings.size >= 1 %>
        <div class="card-details my-4">
          <p class="text-center mt-3"><i class="fa-regular fa-gem fa-2xl" style="color: #ff2600;"></i></p>
          <p class="text-center m-0">C'est une perle rare ! Il y a déjà eu <%= pluralize @flat.bookings.size, "réservation" %> pour ce logement</p>
        </div>
      <% end %>


    </div>

  </div>

  <div class="border-top py-4 mb-4">
    <div class="d-inline-flex text-24">
      <% if @reviews.empty? %>
        <p>Ce logement n'a pas encore de commentaire</p>
      <% else %>

          <p><i class="fa-solid fa-star"></i> <%= number_with_precision(@average_rating, precision: 2) %></p>
          <p class="mx-2">·</p>
          <p><%= pluralize @number_of_reviews, "commentaire" %></p>

      <% end %>

    </div>

    <% @reviews.each do |review| %>
      <ul class="list-group my-3">
        <li class="list-group-item text-22">
          <%= review.comment %>
          <div class="text-gray my-0 text-14"> <%= review.created_at %></div>
        </li>
      </ul>
    <% end %>

    <%# Test pour autoriser uniquement ceux qui ont réservé l'appartement %>
    <%# Pour afficher le formulaire, il faut aussi que la dernière réservation ait le statut accepted et soit passée
    Et pour enlever le formulaire, il faut que l'utilisateur ait laissé un dernier avis pour sa réservation %>

    <% if !@past_bookings.empty? && @past_bookings.last.confirmation == "accepted" && @past_bookings.last.reviews.length == 0 %>
      <%= simple_form_for [@flat, @review] do |f| %>
        <%= f.input :comment, label: "Commentaire" %>
        <%= f.input :rating, label: "Note /5" %>
        <%= f.button :submit, "Soumettre", class: "btn btn-primary" %>
      <% end %>
    <% end %>


  </div>

  <div class="border-top py-4">
    <p class="text-24">Où se situe le logement ?</h3>
    <div class="mt-3" style="width: 100%; height: 500px;"
        data-controller="map"
        data-map-markers-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
