
<div class="container">
  <h1 class="text-center"><%= @flat.name %></h1>
  <p>Address: <%= @flat.address %></p>
  <p>Description: <%= @flat.description %></p>

  <p>Price per night: <%= @flat.price_per_night %></p>
  <p>Number of guests: <%= @flat.number_of_guests %></p>
  <p>Latitude: <%= @flat.latitude %></p>
  <p>Longitude: <%= @flat.longitude %></p>
  <p>Owner : <%= "#{@flat.user[:firstName]} #{@flat.user[:lastName]}" %></p>

  <% if current_user == @flat.user %>
    <% @other_bookings_for_my_flat.each do |booking| %>
      <p>Booking from <%= booking.start_date %> to <%= booking.end_date %> by <%= booking.user.lastName %> <%= booking.user.firstName %></p>
    <% end %>
  <% else %>
    <%= link_to "Book this flat", new_flat_booking_path(@flat) %>
    <% @my_bookings_of_this_flat.each do |booking| %>
      <p>Booking from <%= booking.start_date %> to <%= booking.end_date %></p>
    <% end %>
  <% end %>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
