<div class="container mt-4">

  <h1>Mes réservations</h1>

  <% @bookings.each do |booking| %>
    <p>Flat: <%= booking.flat.name %></p>
    <p>Adresse: <%= booking.flat.address %></p>
    <p>Arrivée: <%= booking.start_date %></p>
    <p>Départ: <%= booking.end_date %></p>
    <p>Statut: <%= booking.confirmation %></p>
  <% end %>

</div>
